<script src="https://blackrockdigital.github.io/startbootstrap-clean-blog/vendor/bootstrap/css/bootstrap.min.css" charset="utf-8"></script>
<script src="https://blackrockdigital.github.io/startbootstrap-clean-blog/css/clean-blog.min.css" charset="utf-8"></script>
<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Composition of Diamond Energy Saving Bulb</h1>
                        <span class="meta">Posted by <a href="#">Torsoo Belove</a> on August 24, 2016</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>Light Emitting Diode (LED) is a p-n junction diode (semiconductor) which emits light when activated with suitable voltage across the terminals. In the early days of development of LED lights, it was used as indicator lights in electronic devices such as computers, laptops, traffic lights, billboards, digital watches etc.</p>

                    <p>That is to say the technology has been in use for so many decades. With current development in technology, LEDs are used in the manufacture of TVs, car lights, and numerous environmental lighting systems. LEDs use 20%-30% of energy and last 8-25 times longer than the traditional incandescent bulbs.</p>

                    <p>LEDs are more efficient in emitting more lumens (brightness) per watt than the fluorescent/incandescent light bulbs or tubes. LEDs lights up very quickly and achieve maximum brightness in under microsecond.</p>

                    <p>LEDs produce less heat in a form of IR that can cause damage to sensitive objects or fabrics. LEDs have longer lifespan as compared to traditional incandescent lights.</p>

                    <p>For those who have seen the Earth from space, and for the hundreds and perhaps thousands more who will, the experience most certainly changes your perspective. The things that we share in our world are far more valuable than those which divide us.</p>


                    <p>It is estimated to have 35000hrs to 50000hrs of usefulness compared to incandescent light bulbs of 1000hrs to 2000hrs.</p>

                    <p>LED light bulbs are very durable and difficult to damage with external shocks as compared to incandescent and fluorescents which are very fragile.</p>


                    <p>Despite the high initial cost of LEDs, it is very cheap considering the low energy consumption, longer lifespan and its durability.</p>

                </div>
            </div>
        </div>
    </article>
